!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title RicegrowJS
    %meta{:content => "Educational text-based rice farming game", :name => "description"}/
    %meta{:content => "RicegrowJS", :property => "og:title"}/
    %meta{:content => "Educational text-based rice farming game", :property => "og:description"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "http://datenshizero.github.io/ricegrow-js", :property => "og:url"}/
    %meta{:content => image_path("opengraph.png"), :property => "og:image"}/
    %link{:href => "./favicon.ico", :rel => "shortcut icon"}/
    %link{:rel => "stylesheet", :href => stylesheet_path('app') } 

    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    - if ENV['RACK_ENV'] == 'production'
      #fb-root
    .container.main-container
      .row
        .col-lg-12
          %h1 RicegrowJS
      .row
        .col-lg-12
          #console.console
      .row
        .col-lg-12
          %h2 About Ricegrow
          %p
            %em Ricegrow
            is an interactive game designed to teach the player(s) the nature of the risk faced by rice farmers.
            This game was written by Robert Huke, former head of the Geography Department at Dartmouth University in New Hampshire.
            It is based on data obtained while Huke was working at the 
            %a{ href: "http://irri.org/"} International Rice Research Institute
            in the Philippines.
            The original program was written in TrueBasic.

          %p
            In <em>Ricegrow</em>, you will play the part of  a small farmer in Central Luzon, a major rice growing area of the Philippines.
            In growing a rice crop during the wet season, you will face the risks or probabilities of crop loss similar to that faced by Philippine farmers.
            These include loss due to weeds, disease, insects, birds, and rat damage which you can minimize by applying the appropriate inputs.
            Also included is risk or probability of loss due to typhoon damage over which you have no control.
            However, the game does not take into account the risk due to change in prices.

          %p
            It takes just a few minutes to play the game or raise one crop of rice.
            At the end of each game, you have the opportunity to change one of the inputs and raise another crop of rice.

          %h3 Suggested setup in a class-based setting

          %p
            The class should be divided into groups of three or four with (if possible) one member of each group having some agricultural background.
            After the game is demonstrated, each team will be allowed five
            %em practice
            games or grow five crops in a row.

          %p
            Then each team can take a break and start again from the beginning deciding which inputs you would like to use.
            This time, they will grow ten crops in a row, making one input change after each crop they desire.
            The results from these ten crops should be tabulated on sheets of paper to determine their yield and average income over the 10 year period.
            The data to be recorded are:

          %ol
            %li Kilograms fertilizer input
            %li The yield estimate of the farm specialists in kilograms (cavans x 50)
            %li The actual yield in kilograms
            %li Gross value of rice (palay) in pesos
            %li Total expenses
            %li Net profit

          %p
            Tell the participants not to worry if the costs and returns do not reflect the current situation.
            In fact, this game was played for five years (1999-2004) by students in Vietnam (Harvard-Fullbright one year program in economics) where framers face similar risks.
          %p
            After the sheets with the results for their 10 year periods have been turned in, announce the winners and losers.
            Remind the participants that the winners (losers) may just be smart (not so smart) or just plain lucky (unlucky).

          %h4 Assumptions

          %p
            So that all teams start at more or less the same point, please use the following values at all times:

          %ol
            %li Size of farm = 1 hectare
            %li Cost of outside labor = &#8369; 110
            %li Type of rice = IR64
            %li Cost of seed = &#8369; 600
            %li Cost of fertilizer = &#8369; 7/kg Urea
            %li Market value of rough rice = &#8369; 5.50/kg

          %h4 Hints for participants

          %p
            Pay attention to the extension lady. She knows what she is talking about.
            Her yield estimate is a good reflection of crop potential yield before major crop damage.

          %p
            When you make a change in input, keep a record of the cost before and after you make the change
            and also check the extension agents yield estimate before and after the change.

          %p
            %em Google
            may help if you do not have an agricultural background. Or maybe not.

          %h2 About this port

          %p
            I didn't have high-speed internet for 5 days and was bored out of my mind.
            After poking around my hard drive, I found the source code and documentation for the original 1998 True BASIC version of Ricegrow, 
            which was provided to us by IRRI during their <a href="http://rice-hackathon.irri.org/">2012 hackathon</a>.

          %p
            Under the excuse of commemorating the 50th year of BASIC (my first programming language), I eventually decided to spend a day 
            %a{ href: "https://github.com/datenshiZERO/ricegrow-rb" } porting
            it to Ruby. I then spent a couple more days porting it to JavaScript / CoffeeScript.

          %p
            Both the program text and documentation above (<strong>About Ricegrow</strong>) are almost direct copies of the originals 
            i.e. I retained the formatting and even some of the more endearing typos.



      .row
        .col-lg-12
          .footer
            %p.copyright
              Original game &copy;1998 - 2014
              %a{:href => "http://irri.org"} IRRI
              %br
              JavaScript port &copy;2014
              %a{:href => "http://bryanbibat.net"} Bryan Bibat
            - if ENV['RACK_ENV'] == 'production'
              %p
                .g-plusone{"data-size" => "medium"}
                %a.twitter-share-button{"data-text" => "Play RicegrowJS, an interactive game designed to teach players the nature of the risk faced by rice farmers", href: "https://twitter.com/share"} Tweet
                .fb-share-button{"data-type" => "button_count"}
            %p 
              %a{ href: "https://github.com/datenshiZERO/ricegrow-js" } Fork this on Github
    %script{:type => "text/javascript", :src => "//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"}
    %script{:type => "text/javascript", :src => javascript_path("app")}
    - if ENV['RACK_ENV'] == 'production'
      / Piwik
      :javascript
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
          var u=(("https:" == document.location.protocol) ? "https" : "http") + "://analytics.bryanbibat.net/";
          _paq.push(['setTrackerUrl', u+'piwik.php']);
          _paq.push(['setSiteId', 12]);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
          g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
      %noscript
        %p
          %img{:alt => "", :src => "http://analytics.bryanbibat.net/piwik.php?idsite=12", :style => "border:0;"}/
      / End Piwik Code
      :javascript
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      :javascript
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/platform.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      :javascript
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
