div.console1,div.console2,div.console3 { word-wrap: break-word; }
      /* First console */
div.console1 { font-size: 14px }
div.console1 div.jquery-console-inner
 { width:100%; height:400px; background:#333; padding:0.5em;
   overflow:auto }
div.console1 div.jquery-console-prompt-box
 { color:#fff; font-family:monospace; }
div.console1 div.jquery-console-focus span.jquery-console-cursor
 { background:#fefefe; color:#333; font-weight:bold }
div.console1 div.jquery-console-message-error
 { color:#ef0505; font-family:sans-serif; font-weight:bold;
   padding:0.1em; }
div.console1 div.jquery-console-message-value
 { color:#1ad027; font-family:monospace;
   padding:0.1em; }
div.console1 div.jquery-console-message-type
 { color:#52666f; font-family:monospace;
   padding:0.1em; }
div.console1 span.jquery-console-prompt-label { font-weight:bold }

td { 
  background: #d18b47;
  text-align: center;
}
.fa-sun-o {
  color: #d18b47;
}
td.r-draw {
  background: lightyellow;
}
td.r-draw i.fa-sun-o {
  color: red;
}
td.r-win {
  background: #0D0;
}
td.r-win i.fa-sun-o {
  color: #0D0;
}
td.r-lose {
  background: red;
}
td.r-lose i.fa-sun-o {
  color: red;
}
td.score-space {
  background: white;
}

.fa-shield, .fa-ban {
  color: gray;
}
.pl {
  color: white;
}
div.controls {
  text-align: center;
  margin-bottom: 10px;
}
#game-options, .rules, .footer {
  text-align: center;
}
.footer {
  margin-top: 50px;
  text-align: center;
}
.player-health, .enemy-health {
  background: #AF8C6A;
}
.player-health h3, .enemy-health h3, .score-space h3 {
  margin-top: 10px;
  margin-bottom: 15px;
}
.player-health {
  color: white;
}
.player-health .fa-shield {
  color: white;
}
.enemy-health {
  color: #333;
}
.enemy-health .fa-shield {
  color: #333;
}
td.score-space {
  background: #E7C29D;
}
.end-result {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 170%;
}
#game-board, #cancel-new-game, #advanced {
  display: none;
}
#start-group {
  margin-top: 30px;
}
.abbr-brand {
  display: none;
}

.fb-share-button > span {
  vertical-align: baseline !important;
}

.hint {
  color: #aaa;
  display: none;
}

@media all and (max-width: 500px) {
  .hint, #hint-prompt, #keyboard, #kb-header {
    display: none !important;
  }
}

@media all and (max-width: 500px) and (min-width: 401px) {
  .fa-lg {
    font-size: 0.9em;
  }
  .table p {
    font-size: 65%;
  }
  .table h3, .table h4 {
    margin: 5px 0;
  }
  .table h3 {
    font-size: 100%;
    margin: 5px 0;
  }
  .table h4 {
    font-size: 90%;
    margin: 5px 0;
  }
  .table h3 i.fa-lg {
    font-size: 1.3em;
  }
  .btn-lg, .btn-group-lg>.btn {
    padding: 10px 10px;
    font-size: 10px;
    line-height: 1.3;
    border-radius: 4px;
  }
  .btn-lg .fa-lg, .btn-group-lg>.btn .fa-lg{
    font-size: 1.5em;
  }
  .table > tbody > tr > td {
    padding: 4px;
  }
  .end-result {
    font-size: 120%;
  }
}
@media all and (max-width: 400px) {
  .fa-lg {
    font-size: 0.8em;
  }
  .table p {
    font-size: 50%;
  }
  .table h3, .table h4 {
    margin: 5px 0;
  }
  .table h3 {
    font-size: 80%;
    margin: 5px 0;
  }
  .table h4 {
    font-size: 70%;
    margin: 5px 0;
  }
  .table h3 i.fa-lg {
    font-size: 1.3em;
  }
  .btn-lg, .btn-group-lg>.btn {
    padding: 10px 10px;
    font-size: 10px;
    line-height: 1.3;
    border-radius: 4px;
  }
  .btn-lg .fa-lg, .btn-group-lg>.btn .fa-lg{
    font-size: 1.5em;
  }
  .table > tbody > tr > td {
    padding: 2px;
  }
  .full-brand {
    display: none;
  }
  .abbr-brand {
    display: inline;
  }
  .end-result {
    font-size: 100%;
  }
}
